table {
    border-collapse: collapse;
}
th, td {
    padding: 10px 50px 10px 5px;
    text-align: left;
    font-family: sans-serif;
    font-size: small;
}
th {
    color: #574600;
    background-color: #ce7019;
    border-top: 5px solid #990000;
}
td {
    color: #a57272;
    background-color: #f7ddad;
    border-top: 3px solid #FFFFFF;
}